img{
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
}

@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Regular.ttf);
}


main,body,*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}