@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Regular.ttf);
}

main, body, *{
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    color: white;
    background-color: #3D5A80;
}
main{
    padding-top: 2rem;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#feed{
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.textarea{
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
}
